body {
  width: 100%;
  background: linear-gradient(to bottom, #a8a8a8, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


.nav__logo {
  position: sticky;
  align-items: center;
  margin-bottom: 1px;
  height: 25px;
  padding: 0px;
}

.main__div--imgsup {
  position: relative;
  width: 100%;
  height: auto;
}

.main__banner {
  display: none;
}

.main__imgprincipal {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__mypic {
  position: absolute;
  top: 60px; 
  left: 30px;
  width: 100px; 
  height: auto;
  border-radius: 10px;
  border-color: white;
  opacity: 90%;
  
}

.div__mypicpc {
display: none;
}

.main__textpc {
  display: none;
}

.main__card {
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box; 
  text-align: center;
}

.main__card--2 {
display: none;
}

.div__igcon {
display: flex;
justify-content: left;
align-items: baseline;    
gap: 2px; 
}
.main__iglogo {
width: 45px;         
height: auto;     
}

.div__iglink {
background: linear-gradient(90deg, #b700ff, #ff00b3, #dbf84d);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-size: 18px;
text-transform: uppercase;
}

.main__cars {
  width: 100%;
  align-items: center;
}

.div__cars--img1 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 20px;
  height: auto;
  display: block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.body__aboutme {
  background: rgba(0, 0, 0, 0.6);       
  color: #fff;
  padding: 20px;
  border-radius: 12px;                 
  border: 1px solid rgba(255, 255, 255, 0.2);  
  box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
  backdrop-filter: blur(4px);           
  margin: 10px 0;
  width: 85%;
  max-width: 500px;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}
.body__aboutme h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.body__aboutme p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  padding: 0 10px;
}

.body__tips {
  background: rgba(0, 0, 0, 0.6);       
  color: #fff;
  padding: 20px;
  border-radius: 12px;                 
  border: 1px solid rgba(255, 255, 255, 0.2);  
  box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
  backdrop-filter: blur(4px);           
  margin: 10px 0;
  width: 85%;
  max-width: 500px;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.main__texttips {
  font-size: 18px;
}

.div__textcon {
  text-align: center;
  margin-top: 20px;
  color: #000000;
}
.main__forms {
  background: rgba(0, 0, 0, 0.6);       
  color: #fff;
  padding: 20px;
  border-radius: 12px;                 
  border: 1px solid rgba(255, 255, 255, 0.2);  
  box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
  backdrop-filter: blur(4px);           
  margin: 10px 0;
  width: 85%;
  max-width: 500px;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form__email {
  margin-top: 0px;
}

.form__coment {
  margin-top: 20px;
}

.form__send {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .main__mypic {
    position: absolute;
    top: 115px; 
    left: 60px;
    width: 250px; 
    height: auto;
    border-radius: 10px;
    border-color: white;
    opacity: 90%;
    
}

.div__button {
  width: 50%;
}

}

@media (min-width: 1024px) {
  body {
      width: 100%;
      background: linear-gradient(to bottom, #a8a8a8, #000000);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      margin: 0;
      padding: 0;
      min-height: 100vh;
  }
  
  .main__div--imgsup {
      position: relative;
      width: 100%;
      height: auto;
  }
  
  .main__conte {
    position: relative; 
    width: 100%; 
    height: 300px;
  }
  .main__banner {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .main__imgprincipal {
      display: none;
  }
  
  .main__mypic {
    position: absolute; 
    top: -100px; 
    left: 90%;
    transform: translate(-50%, -50%); 
    width: 100px;
  }

  .main__textpc {
      display: none;
  }

  .main__card {
    display: none;
  }
  .main__card--2 {
    display: flex;
    align-items: center;
  }
  
  .div__card--1 {
    margin: 10px;
  }

  .div__card--2 {
    margin: 10px;
  }

  .div__card--3 {
    margin: 5px;
  }

  .div__card--4 {
    margin: 15px;
  }

  .div__igcon {
    display: flex;
    justify-content: left;
    align-items: baseline;    
    gap: 2px; 
  }
  .main__iglogo {
    width: 45px;         
    height: auto;     
  }
  
  .main__iglogo {
      display: block;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
      border-radius: 0%;
  
  }
  
  .main__cars {
      width: 100%;
      align-items: center;
    }
    
    .div__cars--img1 {
      width: 400px;
      margin: 10px;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
      margin-top: 20px;
      height: auto;
      display: block;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

    }

    .div2__con--1 {
      display: flex;
      width: 100%;
    }

    .div2__con--2 {
      display: flex;
      width: 100%;
    }

    .div2__con--3 {
       display: flex;
       width: 100%;
    }
    .body__aboutme {
      background: rgba(0, 0, 0, 0.6);       
      color: #fff;
      padding: 20px;
      border-radius: 12px;                 
      border: 1px solid rgba(255, 255, 255, 0.2);  
      box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
      backdrop-filter: blur(4px);           
      margin: 10px 0;
      width: 85%;
      max-width: 500px;
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
  
    }
    .body__aboutme h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .body__aboutme p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 10px;
      padding: 0 10px;
    }
    

    .body__tips {
      background: rgba(0, 0, 0, 0.6);       
      color: #fff;
      padding: 20px;
      border-radius: 12px;                 
      border: 1px solid rgba(255, 255, 255, 0.2);  
      box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
      backdrop-filter: blur(4px);           
      margin: 10px 0;
      width: 85%;
      max-width: 500px;
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  
    .main__texttips {
      font-size: 18px;
    }
  
    .div__textcon {
      text-align: center;
      margin-top: 20px;
      color: #000000;
    }
    .main__forms {
      background: rgba(0, 0, 0, 0.6);       
      color: #fff;
      padding: 20px;
      border-radius: 12px;                 
      border: 1px solid rgba(255, 255, 255, 0.2);  
      box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
      backdrop-filter: blur(4px);           
      margin: 10px 0;
      width: 85%;
      max-width: 500px;
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  
    .form__email {
      margin-top: 0px;
    }
  
    .form__coment {
      margin-top: 20px;
    }
  
    .form__send {
      display: flex;
      align-items: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
}